<nav class="navbar navbar-expand-lg bg-white fixed-top" style="height: 60px">
  <a class="navbar-brand" href="/">Smart APS Project</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto navbar-right-top">
      <li class="nav-item">
        <div id="custom-search" class="top-search-bar">
          <input class="form-control" type="text" placeholder="Search.." />
        </div>
      </li>
      <li class="nav-item dropdown notification">
        <a
          class="nav-link nav-icons"
          href="#"
          id="navbarDropdownMenuLink1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span
        ></a>
        <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
          <li>
            <div class="notification-title">Notification</div>
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px">
              <div class="notification-list" style="overflow: hidden; width: auto; height: 250px">
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action active">
                    <div class="notification-info">
                      <div class="notification-list-user-img">
                        <img src="../assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle" />
                      </div>
                      <div class="notification-list-user-block">
                        <span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to
                        join the team.
                        <div class="notification-date">2 min ago</div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="notification-info">
                      <div class="notification-list-user-img">
                        <img src="../assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle" />
                      </div>
                      <div class="notification-list-user-block">
                        <span class="notification-list-user-name">John Abraham</span>is now following you
                        <div class="notification-date">2 days ago</div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="notification-info">
                      <div class="notification-list-user-img">
                        <img src="../assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle" />
                      </div>
                      <div class="notification-list-user-block">
                        <span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                        <div class="notification-date">2 min ago</div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="notification-info">
                      <div class="notification-list-user-img">
                        <img src="../assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle" />
                      </div>
                      <div class="notification-list-user-block">
                        <span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join
                        the team.
                        <div class="notification-date">2 min ago</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div
                class="slimScrollBar"
                style="
                  background: rgb(0, 0, 0);
                  width: 7px;
                  position: absolute;
                  top: 0px;
                  opacity: 0.4;
                  display: block;
                  border-radius: 7px;
                  z-index: 99;
                  right: 1px;
                "
              ></div>
              <div
                class="slimScrollRail"
                style="
                  width: 7px;
                  height: 100%;
                  position: absolute;
                  top: 0px;
                  display: none;
                  border-radius: 7px;
                  background: rgb(51, 51, 51);
                  opacity: 0.2;
                  z-index: 90;
                  right: 1px;
                "
              ></div>
            </div>
          </li>
          <li>
            <div class="list-footer"><a href="#">View all notifications</a></div>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown connection">
        <a
          class="nav-link"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-fw fa-th"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
          <li class="connection-list">
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <a href="#" class="connection-item"
                  ><img src="../assets/images/github.png" alt="" /> <span>Github</span></a
                >
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <a href="#" class="connection-item"
                  ><img src="../assets/images/dribbble.png" alt="" /> <span>Dribbble</span></a
                >
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <a href="#" class="connection-item"
                  ><img src="../assets/images/dropbox.png" alt="" /> <span>Dropbox</span></a
                >
              </div>
            </div>
            <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <a href="#" class="connection-item"
                  ><img src="../assets/images/bitbucket.png" alt="" /> <span>Bitbucket</span></a
                >
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <a href="#" class="connection-item"
                  ><img src="../assets/images/mail_chimp.png" alt="" /><span>Mail chimp</span></a
                >
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <a href="#" class="connection-item"><img src="../assets/images/slack.png" alt="" /> <span>Slack</span></a>
              </div>
            </div>
          </li>
          <li>
            <div class="conntection-footer"><a href="#">More</a></div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="nav-left-sidebar sidebar-dark">
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%; ">
    <div class="menu-list" style="overflow: hidden; width: auto; height: 100%;">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#">User</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">Menu</li>
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#"
                data-toggle="collapse"
                aria-expanded="false"
                data-target="#submenu-1"
                aria-controls="submenu-1"
                ><i class="fa fa-fw fa-user-circle"></i>User <span class="badge badge-success"></span></a
              >
              <div id="submenu-1" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <div id="submenu-1-2" class="collapse submenu" style="">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/logout">Logout</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  {% if 'is_logged' in session %}
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-toggle="collapse"
                aria-expanded="false"
                data-target="#submenu-3"
                aria-controls="submenu-3"
                ><i class="fas fa-fw fa-chart-pie"></i>Chart</a
              >
              <div id="submenu-3" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="/gantt_chart">제품별 설비 가동률</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/graph">설비별 가동 현황</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/step_wip">제품 재공 현황</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-toggle="collapse"
                aria-expanded="false"
                data-target="#submenu-5"
                aria-controls="submenu-5"
                ><i class="fas fa-fw fa-table"></i>Tables</a
              >
              <div id="submenu-5" class="collapse submenu" style="">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="/demand">제품 수요</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/equipment">장비 공정 상태</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/product">생산 제품</a>
                  </li>
                                    <li class="nav-item">
                    <a class="nav-link" href="/step_route">제품 공정 상태</a>
                  </li>
                                    <li class="nav-item">
                    <a class="nav-link" href="/eqp_arrange">공정 소요 시간</a>
                  </li>
                                    <li class="nav-item">
                    <a class="nav-link" href="/setup_time">장비 설치 시간</a>
                  </li>
                </ul>
              </div>
            </li>
            
    
     </nav>
     </div>
    
  
  </div>
</div>
